@model IEnumerable<GymCompany.Models.Lead>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lanme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateupdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lanme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateupdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lID }) |
            @Html.ActionLink("Details", "Details", new { id=item.lID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lID })
        </td>
    </tr>
}

</table>
